/* src/index.css */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html[data-mui-color-scheme="dark"] input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@keyframes subtleBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }
}

@keyframes highlightFade {
  0% {
    background-color: rgba(255, 160, 0, 0.5);
  }

  100% {
    background-color: transparent;
  }
}